.container{
    max-width: 1200px;
    margin: 30px auto;
    padding: 30px;
}



.slider {
width: 352px;
height: 256px;
border: 2px solid black;
overflow: hidden;
margin: 30px auto;
}

.slider-line{
   height: 256px ; 
   width: 1024px;
   background: orange;
   display: flex;
   position: relative;
   left: 0;
   transition: all ease 1s;
}

button {
    background: none;
    border: 1px solid black;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: .9rem;
}

button:hover {
    background: rgb(255, 0, 0);
}

button:active {
    background: rgb(5, 143, 5);
    color: #fff
}